# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ssh_manager

# Security Keys
# Secret key for JWT hashing
SECRET_KEY=supersecretkeychangeinproduction1234567890
# Encryption key (Fernet 32-byte key) for server passwords encrypting
ENCRYPTION_KEY=32bytekeyforfernetencryption_mustbe32bytes=

# SSH Agent Shared Secret
AGENT_SHARED_SECRET=agentsharedsecretforauthandencryption
